* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: cadetblue;
  background-image: url("background.webp");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

p {
  color: darkturquoise;
  background-color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-style: italic;
}

img {
  border-radius: 10px;
}

a {
  font-style: italic;
  color: bisque;
}
a:visited {
  font-style: italic;
  color: coral;
}
